:root {
   --light-mode-bg: #f9f9f9;
   --light-mode-font: #292929;
   --light-mode-primary: #1e90ff;
   --dark-mode-bg: #202020;
   --dark-one-primary: #ffe400;
   --dark-two-primary: #00ff7f;
   --dark-three-primary: #00ffff;
   --dark-words-color: #2c2c2c;

   --matrix: #00ff7f;
   --purple: #394edb;
   --light: #d83f87;
   --xeno: #060709;
   --gorgeous: #86c232;
   --sun: #e1b514;
}

body {
   font-family: "Montserrat", sans-serif;
   transition: all 0.2s ease-in;
}

h1 {
   font-size: 30px;
   font-weight: 600;
}

.btn {
   background: rgb(195, 102, 20);
   width: fit-content;
   height: 30px;
   padding: 0 12px;
   border-radius: 12px;
   color: #fff;
   font-weight: 500;
}
.current-length {
   font-weight: 600;
   padding: 0 12px;
   border-radius: 4px;
}
/* =================== Words Container =================== */
#words-container {
   font-family: "Courier Prime", monospace;
   height: 140px;
   overflow: hidden;
   outline: none;
   border: none;
}
.colors {
   transition: all 0.08s ease-in;
   cursor: pointer;
}
#words {
   line-height: 48px;
   white-space: pre-wrap;
   word-wrap: break-word;
}

.correct {
   color: green;
}

.incorrect {
   color: red;
}

.underline {
   text-decoration: underline;
   text-decoration-color: red;
}

/* =================== Focus Error =================== */
#focus-error {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 24px;
   font-family: "Montserrat";
   font-weight: 500;
   display: none;
}

#words-container:focus #focus-error {
   display: none;
}

/* =================== Result & Caret =================== */
#result-board {
   display: flex;
}

#caret {
   transition: left 0.1s linear;
   display: none;
}
#words-container #words {
   opacity: 0.4;
}

#words-container:focus-within #caret {
   display: block;
}
#words-container:focus-within #words {
   opacity: 1;
}

.caret-animation {
   animation: caretBlink 0.4s infinite;
}

@keyframes caretBlink {
   0%,
   100% {
      opacity: 100%;
   }
   50% {
      opacity: 0%;
   }
}

/* =================== Duration & Type Highlight =================== */

/* =================== Theme: dark Mode =================== */
body.matrix {
   background: #011108;
}
body.matrix h1 {
   color: var(--matrix);
}
body.matrix h1 span {
   color: #fff;
}
body.matrix a {
   color: var(--matrix);
}

body.matrix #words-container #words {
   filter: none;
   color: #047a3f;
}
body.matrix .current-length {
   background: var(--matrix);
   color: black;
}
body.matrix #reset {
   background: var(--matrix);
}
body.matrix .length-list {
   color: white;
}
body.matrix #words {
   color: var(--dark-words-color);
}
body.matrix .correct {
   color: #f1f1f1;
}
body.matrix .incorrect {
   color: #ff2200;
}
body.matrix .underline {
   text-decoration: underline;
   text-decoration-color: #ff2200;
}
body.matrix #timeleft {
   color: #fff;
}
body.matrix #caret {
   background: #fff;
}
body.matrix #colors-menu {
   color: #047a3f;
}
body.matrix #words-menu {
   color: #047a3f;
}
body.matrix .current-words-list {
   color: var(--matrix);
}
body.matrix .current-color-mode {
   color: var(--matrix);
}
body.matrix #result-box-wrapper {
   background: #011108;
}
body.matrix .result-titles {
   color: #fff;
}
body.matrix .result-data {
   color: var(--matrix);
   font-weight: 600;
}
body.matrix #restart-button {
   background: var(--matrix);
}
body.matrix #volume-btn {
   color: var(--matrix);
}
/* ===============================quantum mode======================================= */

body.quantum {
   background: #0e081b;
}
body.quantum h1 {
   color: var(--purple);
}
body.quantum h1 span {
   color: #fff;
}
body.quantum a {
   color: var(--purple);
}

body.quantum #words-container #words {
   color: var(--purple);
}
body.quantum .current-length {
   background: var(--purple);
   color: black;
}
body.quantum #reset {
   background: var(--purple);
}
body.quantum .length-list {
   color: white;
}
body.quantum #words {
   color: var(--dark-words-color);
}
body.quantum .correct {
   color: #f1f1f1;
}
body.quantum .incorrect {
   color: #ff5900;
}
body.quantum .underline {
   text-decoration: underline;
   text-decoration-color: #ff5900;
}
body.quantum #timeleft {
   color: #fff;
}
body.quantum #caret {
   background: #fff;
}
body.quantum #colors-menu {
   color: #2a399b;
}
body.quantum #words-menu {
   color: #243187;
}
body.quantum .current-words-list {
   color: var(--purple);
}
body.quantum .current-color-mode {
   color: var(--purple);
}
body.quantum #result-box-wrapper {
   background: #0e081b;
}
body.quantum .result-titles {
   color: #fff;
}
body.quantum .result-data {
   color: var(--purple);
   font-weight: 600;
}
body.quantum #restart-button {
   background: var(--purple);
}
body.quantum #volume-btn {
   color: var(--purple);
}
/* =================================================================================== */
/* ===============================light mode======================================= */

body.ghostline {
   background: #d8d8d8;
}
body.ghostline h1 {
   color: #454444;
}
body.ghostline h1 span {
   color: #454444;
}
body.ghostline a {
   color: #686868;
   font-weight: 500;
}

body.ghostline #words-container #words {
   color: #5d5d5d;
}
body.ghostline .current-length {
   background: #000;
   color: #eae7dc;
}
body.ghostline #reset {
   background: #000;
   color: #eae7dc;
}
body.ghostline .length-list {
   color: black;
   font-weight: 500;
}
body.ghostline .correct {
   color: #000;
}
body.ghostline .incorrect {
   color: #ff0000;
}
body.ghostline .underline {
   text-decoration: underline;
   text-decoration-color: #ff0000;
}
body.ghostline #timeleft {
   color: #686868;
}
body.ghostline #caret {
   background: #000;
}
body.ghostline #colors-menu {
   color: #898686;
}
body.ghostline #words-menu {
   color: #898686;
}
body.ghostline .current-words-list {
   color: #000;
}
body.ghostline .current-color-mode {
   color: #000;
}
body.ghostline #result-box-wrapper {
   background: #d8d8d8;
}
body.ghostline .result-titles {
   color: #000;
   font-weight: 600;
}
body.ghostline .result-data {
   color: #000;
   font-weight: 600;
}
body.ghostline #restart-button {
   background: #000;
   color: #fff;
}
body.ghostline #volume-btn {
   color: #686868;
}
/* =================================================================================== */
/* ===============================light mode======================================= */

body.void {
   background: var(--xeno);
}
body.void h1 {
   color: #d6e3ff;
}
body.void h1 span {
   color: #fff;
}
body.void a {
   color: #d6e3ff;
   font-weight: 500;
}

body.void #words-container #words {
   filter: none;
   color: #424b4f;
}
body.void .current-length {
   background: #d6e3ff;
   color: var(--xeno);
}
body.void #reset {
   background: #d6e3ff;
   color: var(--xeno);
}
body.void .length-list {
   color: #d6e3ff;
   font-weight: 500;
}
body.void .correct {
   color: #d6e3ff;
}
body.void .incorrect {
   color: red;
}
body.void .underline {
   text-decoration: underline;
   text-decoration-color: red;
}
body.void #timeleft {
   color: #d6e3ff;
}
body.void #caret {
   background: #d6e3ff;
}
body.void #colors-menu {
   color: #757d8d;
}
body.void #words-menu {
   color: #757d8d;
}
body.void .current-words-list {
   color: #d6e3ff;
}
body.void .current-color-mode {
   color: #d6e3ff;
}
body.void #result-box-wrapper {
   background: var(--xeno);
}
body.void .result-titles {
   color: #fff;
   font-weight: 600;
}
body.void .result-data {
   color: #fff;
   font-weight: 600;
}
body.void #restart-button {
   background: #fff;
   color: #000;
}
body.void #volume-btn {
   color: #d6e3ff;
}
/* =================================================================================== */
/* ===============================gorgeous mode======================================= */

body.gorgeous {
   background: #222629;
}
body.gorgeous h1 {
   color: var(--gorgeous);
}
body.gorgeous h1 span {
   color: #fff;
}
body.gorgeous a {
   color: #61892f;
   font-weight: 500;
}
body.gorgeous #words-container:focus #words {
   filter: none;
   color: #fff;
}
body.gorgeous .current-length {
   background: var(--gorgeous);
   color: #fff;
}
body.gorgeous #reset {
   background: var(--gorgeous);
   color: #fff;
}
body.gorgeous .length-list {
   color: #fff;
   font-weight: 500;
}
body.gorgeous .correct {
   color: var(--gorgeous);
}
body.gorgeous .incorrect {
   color: red;
}
body.gorgeous .underline {
   text-decoration: underline;
   text-decoration-color: red;
}
body.gorgeous #timeleft {
   color: #61892f;
}
body.gorgeous #caret {
   background: var(--gorgeous);
}
/* =================================================================================== */
/* ===============================sun mode======================================= */

body.suncode {
   background: #292929;
}
body.suncode h1 {
   color: var(--sun);
}
body.suncode h1 span {
   color: #fff;
}
body.suncode a {
   color: #fff;
   font-weight: 500;
}

body.suncode #words-container #words {
   color: rgb(91, 91, 91);
}
body.suncode .current-length {
   background: var(--sun);
   color: #fff;
}
body.suncode #reset {
   background: var(--sun);
   color: #fff;
}
body.suncode .length-list {
   color: var(--sun);
   font-weight: 500;
}
body.suncode .correct {
   color: #fff;
}
body.suncode .incorrect {
   color: red;
}
body.suncode .underline {
   text-decoration: underline;
   text-decoration-color: red;
}
body.suncode #timeleft {
   color: var(--sun);
}
body.suncode #caret {
   background: var(--sun);
}
body.suncode #colors-menu {
   color: #665209;
}
body.suncode #words-menu {
   color: #665209;
}
body.suncode .current-words-list {
   color: var(--sun);
}
body.suncode .current-color-mode {
   color: var(--sun);
}
body.suncode #result-box-wrapper {
   background: #292929;
}
body.suncode .result-titles {
   color: #fff;
}
body.suncode .result-data {
   color: var(--sun);
   font-weight: 600;
}
body.suncode #restart-button {
   background: var(--sun);
}
body.suncode #volume-btn {
   color: #fff;
}
/* =================================================================================== */

body.dark .game-settings-menu {
   border: 2px solid var(--dark-three-primary);
   color: var(--dark-three-primary);
}
body.dark #words {
   color: var(--dark-words-color);
}
body.dark .correct {
   color: #f1f1f1;
}
body.dark .incorrect {
   color: #ff2200;
}
body.dark .underline {
   text-decoration: underline;
   text-decoration-color: #ff2200;
}
body.dark #timeleft {
   color: #fff;
}
body.dark #result-board {
   color: var(--dark-three-primary);
}

body.dark #reset {
   color: black;
   font-weight: 600;
}
body.dark #focus-error {
   color: #fff;
}
body.dark #game-type-menu,
body.dark #duration-menu,
body.dark #theme-menu {
   border: 2px solid var(--dark-three-primary);
}
body.dark .current-type {
   background: orange;
   color: var(--dark-mode-bg);
   font-weight: 500;
}
body.dark .current-duration {
   color: orange;
}

/* body.light {
   background: var(--light-mode-bg);
   color: var(--light-mode-font);
}

body.light .game-settings-menu {
   background: var(--dark-three-primary);
   color: var(--light-mode-bg);
}

body.light #timeleft,
body.light #reset {
   color: var(--dark-three-primary);
}

body.light .incorrect {
   color: var(--dark-three-primary);
} */

/* =================== Theme: Dark Modes =================== */
/* body.dark-one,
body.dark-two,
body.dark-three {
   background: var(--dark-mode-bg);
}

body.dark-one,
body.dark-two,
body.dark-three {
   color: var(--dark-one-primary);
}

body.dark-two {
   color: var(--dark-two-primary);
}

body.dark-three {
   color: var(--dark-three-primary);
}

body:is(.dark-one, .dark-two, .dark-three) #words-container #words {
   color: var(--dark-words-color);
}

body:is(.dark-one, .dark-two, .dark-three) .result-title {
   color: var(--dark-words-color);
}

body.dark-one .correct {
   color: var(--dark-one-primary);
}

body.dark-two .correct {
   color: var(--dark-two-primary);
}

body.dark-three .correct {
   color: var(--light-mode-bg);
}

body.dark-one .incorrect {
   color: #e34234;
}
body.dark-one .underline {
   text-decoration-color: #e34234;
}

body.dark-two .incorrect {
   color: #e34234;
}
body.dark-two .underline {
   text-decoration-color: #e34234;
}

body.dark-three .incorrect {
   color: var(--dark-three-primary);
}

body.dark-one .game-settings-menu {
   background: var(--dark-one-primary);
   color: var(--dark-mode-bg);
}

body.dark-two .game-settings-menu {
   background: var(--dark-two-primary);
   color: var(--dark-mode-bg);
}

body.dark-three .game-settings-menu {
   background: var(--dark-three-primary);
   color: var(--dark-mode-bg);
}

body.dark-one #wpm,
body.dark-one #accuracy {
   color: var(--dark-one-primary);
}

body.dark-two #wpm,
body.dark-two #accuracy {
   color: var(--dark-two-primary);
}

body.dark-three #wpm,
body.dark-three #accuracy {
   color: var(--dark-three-primary);
}

body.dark-one #timeleft,
body.dark-one #reset {
   color: var(--dark-one-primary);
}

body.dark-two #timeleft,
body.dark-two #reset {
   color: var(--dark-two-primary);
}

body.dark-three #timeleft,
body.dark-three #reset {
   color: var(--dark-three-primary);
}

body.light #game-type-menu,
body.light #duration-menu,
body.light #theme-menu {
   background: var(--dark-three-primary);
   border: 2px solid var(--dark-three-primary);
}
body.dark-one #game-type-menu,
body.dark-one #duration-menu,
body.dark-one #theme-menu {
   background: var(--dark-one-primary);
   border: 2px solid var(--dark-one-primary);
}
body.dark-two #game-type-menu,
body.dark-two #duration-menu,
body.dark-two #theme-menu {
   background: var(--dark-two-primary);
   border: 2px solid var(--dark-two-primary);
}
body.dark-three #game-type-menu,
body.dark-three #duration-menu,
body.dark-three #theme-menu {
   background: var(--dark-three-primary);
   border: 2px solid var(--dark-three-primary);
}

body.light .current-duration,
body.light .game-type.current-type,
body.light .theme.current-theme {
   background: var(--light-mode-bg);
   color: var(--dark-three-primary);
   font-weight: 500;
}
body.dark-one .current-duration,
body.dark-one .game-type.current-type,
body.dark-one .current-theme {
   background: var(--dark-mode-bg);
   color: var(--dark-one-primary);
   font-weight: 500;
}
body.dark-two .current-duration,
body.dark-two .game-type.current-type,
body.dark-two .current-theme {
   background: var(--dark-mode-bg);
   color: var(--dark-two-primary);
   font-weight: 500;
}
body.dark-three .current-duration,
body.dark-three .game-type.current-type,
body.dark-three .current-theme {
   background: var(--dark-mode-bg);
   color: var(--dark-three-primary);
   font-weight: 800;
} */
